.search {
  border: 1px solid black;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 40px;
  width: 800px;
}

.search input {
  outline: 0;
}

.search:hover ~ .search-button {
  background-color: black;
  color: white;
}

.search-button {
  color: black;
  width: 40px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.nav-list-right li {
  list-style-type: none;
}
